<config>

    <module name="network">
        <param name="inputNetworkFile" value="input-erik/network.xml.gz"/>
    </module>

    <module name="plans">
        <param name="inputPlansFile" value="input-erik/plans.xml.gz"/>
    </module>

    <module name="controler">
        <param name="outputDirectory" value="output"/>
        <param name="lastIteration" value="10"/>
    </module>

    <module name="qsim">
        <param name="numberOfThreads" value="2"/>
        <param name="startTime" value="00:00:00"/>
        <param name="endTime" value="30:00:00"/>
        <param name="mainModes" value="car"/>
    </module>

</config>
